{% extends "base.html.twig"  %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<div>
    <h1>
        HomePage
         L adresse IP de l utilisateur est : ?>
    </h1>




</div>
{% endblock %}
